@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,900|IBM+Plex+Mono:500i");



[hidden] {
  display: none;
}

.action {
  position: absolute;
  top: 0;
  right: 0;
  background-color: skyblue;
  margin: 2rem;
  color: var(--color-action);
  border: 0;
  padding: 10px;
  opacity: 1;
  border-radius: 4px;
  z-index: 100;
}


